---
option_settings:
- option_name: AUTH_KEY
  value: D1eGGr5+Aab($um7A9`f&>(N)QBq^/H{6$>^{Kdc[I27BaT~W9G|NUbZ?izy^tHQ
- option_name: SECURE_AUTH_KEY
  value: ">-=v7{MZ[Eywrh:dV~0Q`_pz{^q1Df[C|25Hj`?n:|+>+++x[K-F1Q mA7%;,A|S"
- option_name: LOGGED_IN_KEY
  value: ";?n&HYun6,8?_Nz7p+/<)A9}jKM.-vT{+~bL:Qv[e5wg#o1+VwIg9Qqb=M3N/MN]"
- option_name: NONCE_KEY
  value: O6RMygh=4L#`i1-fDh(HHDqQ)TU7>CgbO{?y`%tUIXI#eQaL-u#4L(;+IeMnuKu@
- option_name: SECURE_AUTH_SALT
  value: oc^idGlzIA)} ^Q][Lh(MxH#7UHt]1QBw*Y?7^+o&;[ar_5O8msz-:o) Q}}6|sd
- option_name: LOGGED_IN_SALT
  value: I7n5pVW]LSv}`G><sR*>tiJ]I}}Kg):MhdAL-n/K+|BIqmz19s]Q%*!X6F%9P`wV
- option_name: NONCE_SALT
  value: 1kJRc#9 u) Kj+E FS>2njzmRh?C+`ayk}{U-HUaNsmi65)H]Xed+9RPtzc{06h@
- option_name: AUTH_SALT
  value: qjG*bxf|E+1p|QszN;lXHr+-%SG-<I5V)9e-~dh0w$VuV#F,&~baEJm $M}&qr0-